<style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kiwi+Maru&display=swap');
</style>

<div class="tasks">
    <div class="tasks_title">
        <h1>メンバーページ</h1>
    </div>
    
    <div class="tasks_column">
        <% @tasks = Task.all %>
        <% @tasks.each do |e| %>
            <p>

                <%= e.job %>/<%= e.name %>/<%= e.date %>
                <%=link_to '表示', "/tasks/#{e.id}"%>
                <% if e.completed?(current_member) %>
                    <%= link_to '完了解除', finish_path(e), data: { turbo_method: :delete } %>
                <% else %>
                    <%= link_to '完了', finish_index_path(task_id: e.id), data: { "turbo_method": :post }  %>
                <% end %>

            </p>
        <% end %>
    </div></br>
    
    <%=link_to 'メッセージ', group_chats_index_path, class: "tasks_button" %></br>
    
    <%=link_to 'ログアウト', tlogins_logout_path, class: "tasks_button" %></br>
    
</div>
