<p>
<strong>作業名：</strong>
<%= @task.name %>
</p>
<p>
<strong>役職:</strong>
<%= @task.job %>
</p>
<p>
<strong>締切:</strong>
<%= @task.date %>
</p>
<p>
<strong>作業時間:</strong>
<%= @task.time %>
</p>
<p>
<strong>作業内容:</strong>
<%= @task.content %>
</p>
<%= link_to "一覧に戻る" ,tasks_index_path %>