<% @managers.each do |e| %>
    <p>
        <li>
            <%= e.uid %>
            <%=link_to '削除', msignup_path(e) , data: { turbo_method: :delete },method: :delete %>
        </li>
    </p>
<% end %>

<%= link_to "新規登録" ,msignup_new_path %>
<%= link_to "ログイン" ,mlogin_main_path %>
<% if current_manager %>
    <%= link_to "ログアウト" ,mlogin_logout_path %>
<% end %>